@charset "UTF-8";

*{
	padding: 0;
	margin: 0;
}

#log{
	
	background-image: url('../images/logback.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
	
	
}


#adop{
	background-image: url('../images/logback.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.adopage{
	margin-top: 30px;
	text-decoration: none;
	font-family: Zapf Chancery, cursive;
	margin-right: 10px;
	width: 100%;
	
	
}

.adopage p{
	text-align: center;
}

.adopag{
	margin-top: 20px;
	
	
}


/* KZ - Inicio */

#eventpag{
	background-image: url('../images/logback.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.eventpage{
	margin-top: 30px;
	text-decoration: none;
	font-family: Zapf Chancery, cursive;
	margin-right: 10px;
	width: 100%;
	
	
}

.eventpage p{
	text-align: center;
}

.eventpag{
	margin-top: 20px;
	
	
}

/* KZ - Fin */

#inicio{
	background-image: url("../images/inicio.jpg");
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
}
#main-body{
	
	background-image: url('../images/hand.jpg');
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	
	
}

.formlog label{
	
	font-weight: bold;
}
#form-log{
	border: 0px solid #ffffff;
	padding: 30px 40px;
	margin-top: 20vh;


-webkit-box-shadow: -1px 4px 141px 24px rgba(0,0,0,0.78);
-moz-box-shadow: -1px 4px 141px 24px rgba(0,0,0,0.78);
box-shadow: -1px 4px 141px 24px rgba(0,0,0,0.78);
}
.formlog h3{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	font-family: Georgia, serif;
	margin-bottom: 20px;
}

.logo{
	height: 100%;
	
}

.mynav a{
	margin-right: 30px;
}

.mynav a:hover{
	border-bottom: 2px solid #ffd700;
	
}	

.active a{
	border-bottom: 2px solid #ffd700;
}

.formcon{
	margin-top: 40px;
	
}

.formcon h3{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: Georgia, serif;
	font-weight: bold;
	margin-bottom: 30px;
}
#form1{
	font-family: Zapf Chancery, cursive;
	-webkit-box-shadow: inset -1px -14px 185px 24px rgba(0,0,0,0.78);
-moz-box-shadow: inset -1px -14px 185px 24px rgba(0,0,0,0.78);
box-shadow: inset -1px -14px 185px 24px rgba(0,0,0,0.78); 
padding: 30px 40px;
	
}

.pagPrinc{
	
	margin-top: 40px;
	
}

.pagPrinc h1{
	text-decoration: none;
	text-align: center;
	font-family:  Liberation Mono, monospace;
	font-size: 50px;
	text-decoration: none;
	color: #ffd700;
	margin-bottom: 20px;
}

.pagPrinc h3{
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-family: Zapf Chancery, cursive;
	text-decoration: none;
	color: #ffd700;
	border-bottom: 1px solid #ffd700;
}

.pagPrinc p{
	color: #ffffff;
	text-decoration: none;
	text-align: left;
	font-family: Zapf Chancery, cursive;
	font-size: 20px;
	
}
/*.carousel-inner > .item > img {
  width:100%;
  height:360px;
}*/


footer{
	margin-top: 30px;
	width: 100%;
	padding: 20px;
}

.copy{
	text-decoration: none;
	text-align: center;
	padding-top: 10px;
}
.copy p{
	padding-top: 10px;
}
.copy btn{
	
	position: relative;
}
.social i{
	color: #ffffff;
	font-size: 40px;
	margin: 10px;
	padding-top: 10px
	
}

.social i:hover{
color: #ffd700;
	
}

.foot{
	color: #ffffff;
	background: #444;
	paddin: 20px;
	margin-top: 30px;
	opacity:0.8;
	text-decoration: none;
	font-family: Zapf Chancery, cursive;
	width: 100%;
}
.footli li a{
	color: #ffffff;
	text-decoration: none;
}
.footli li a:hover{
	border-bottom: 2px solid #ffd700;
}


.foot h2{
	color: #ffd700;
}

.cont p a{
	color: #ffffff;
	text-decoration: none;
}

.prefil{
	font-family: Zapf Chancery, cursive;
	text-decoration: none;
	margin-top: 30px;
}
#btd{
    margin-bottom: 20px;
}

.contianer-fluid con{
   
    margin-top: 20px;
}